<title>AC Konig and Shiras family blog</title>

<h1>Home Page</h1>

<p>Our current family members!</p>
<ul style="font-size: 30px;" >
  <li style= "color: red" >Mom of the house Shira</li>

  <%= image_tag 'profile_shira.png', :size => '185' %>
  <li  style= "color: green" >Pop of the house AC</li>
    <%# <%= link_to image_tag('profileac.png'), 'www.mashrurhossain.com' %>
    <%= image_tag 'profile_ac.png', :size => '185'  %>
  <li  style= "color: blue" >Baby of the house Pinky</li>
    <%# <%= link_to image_tag('profilepinky.png'), 'www.mashrurhossain.com' %>
    <%= image_tag 'profile_pinky.png', :size => '185'  %>
</ul>
<%= link_to 'About', about_path %>



