<title>AC Konig and Shiras family blog</title>

<div class="thumnails">
  <div class="container">
    <div class="row">
      <div class="col-md-4"><%= image_tag 'profile_shira.png' , :size => '200' %></div>
      <div class="col-md-4"><%= image_tag 'profile_ac.png', :size => '200' %></div>
      <div class="col-md-4"><%= image_tag 'profile_pinky.png', :size => '200'  %></div>
    </div>
  </div>
</div>
<p>
  <div class="center jumbotron">
    <%= link_to 'Sign up to our family blog', "#",class: "btn btn-warning btn-lg btn-xl" %>
  </div>
</p>

<p>
  <%= link_to 'Alpha blog', articles_path %> |
  <%= link_to 'About', about_path %>
</p>


